<link rel="stylesheet" href="Css/admin/car.css">
<main class="dimensiones">
  <section class="container-table">
    <table>
      <thead>
        <tr>
          <th id="tablehead">Producto</th>
          <th id="tablehead">Descripción</th>
          <th id="tablehead">Importe</th>
          <th id="tablehead">Cantidad</th>
          <th id="tablehead">Quitar</th>
        </tr>
      </thead>
      <tbody id="tbody">
      </tbody>
      <tfoot>
        <tr id="tfoot"></tr>
      </tfoot>
    </table>
  </section>
  <div class="container-btn">
    <button class="button" id="btnComprar">Comprar</button>
    <a href="/shop">Volver</a>
  </div>
  
</main>
<script src="https://kit.fontawesome.com/6fe6321916.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script type="module" defer src="js/carrito/carrito.js"></script>



