<!DOCTYPE html>
<html lang="en">
    <%- include("../partials/head") %>
    <title>Inicio</title>
  <body>
    <header>
      <nav id="nav">
        <a href="#" class="img-nav"
          ><img src="Uploads/file/logo_light_horizontal.png" alt="logo" title="logo"
        /></a>
        <div class="container-menu" id="menu">
          <a href="/home">HOME</a>
          <a href="/login">LOGIN / REGISTRO</a>
        </div>
      </nav>
    </header>
    <%- body %>
    <footer>
      <div class="container-img-footer">
        <a href="#"
          ><img src="Uploads/file/isotype.png" alt="logo" title="logo"
        /></a>
      </div>
      <p class="copy">&copy;All rights reserved 2023 - Funkoshop;</p>
    </footer>
       <script
      src="https://kit.fontawesome.com/6fe6321916.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
