<link rel="stylesheet" href="Css/admin/contact.css">
<title>Contact</title>
<main>
    <div class="container-sucess">
         <h2>¡Muchas gracias por contactarnos!</h2>
    <p>En breve estaremos respondiendo a tus consultas.</p>
    <div class="container-description">
         <p>Equipo Funkoshop.</p> 
    </div>
    </div>
</main>