main{
    padding-top: 100px;
}
.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 46%;
    margin: 0 auto;
    padding: 20px 0;
    min-width: 320px;
}
.main h2{
    font-size: 28px;
    margin-bottom: 30px;
}
.main .container-formulario{
    width: 80%;
    margin: 0 auto;
}
.main .container-formulario form .container-info  {
width: 100%;
display: flex;
flex-direction: column;
justify-content: flex-end;
}
.main .container-formulario form .container-info .parent{
   display: flex;
   flex-direction: column;
margin: 10px auto;
width: 80%;
}
.main .container-formulario form .container-info .parent input{
border: none;
outline: none;
border-radius: 0;
border-bottom: 1px solid #FF3333;
}
.main .container-formulario .container-enlace {
    display: flex;
    width: 100%;
justify-content: center;
}
main form .container-btn{
    min-width: 43%;
    margin: 34px auto 20px auto;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
main form .container-btn button{
    background: #FF3333;
    border: none;
    color: white;
    padding: 5px 17px;
    margin-right: 5px;
}
main form .container-btn button:hover{
    background: rgb(255, 255, 255);
    border: 1px solid #FF3333;
     cursor: pointer;
     color: #FF3333;
}
main form .container-btn .container-check input{
    margin-right: 9px;
    cursor: pointer;
}
main > a{
    text-decoration: none;
    color: #1D84B5;
}
main > a:hover{
    text-decoration: underline #1D84B5;
}
main .register{
    display: flex;
    align-items: center;
    justify-content: center;
}
main .register a{
    margin-left: 9px;
}
@media(max-width:768px){
    .main h2{
        font-size: 20px;
    }
    main form .container-btn{
        flex-direction: column;
    }
    main form .container-btn button{
        margin-bottom: 20px;
    }
}




