main{
    height: 100%;
    display:flex;
    width: 100%;
    padding-top: 100px;
    justify-content: center;
}
.main{
    text-align: center;
    width: 80%; margin: 0 auto;
}
.main h2{
    color: #000000;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    margin-bottom: 20px;
}
.main p{
    color: #313131;
    font-size: 17px;
    font-family: 'Raleway', sans-serif;
    margin-bottom: 20px;
}
.main form .container-input{
   display: flex;
   width: 60%;
   min-width: 230px;
   margin: 0 auto;
   flex-direction: column;
}
.main form .container-input .parent{
    text-align: left;
    margin: 15px 0;
}
.main form .container-input input{
margin: 5px 0 0 0;
border: none;
outline: none;
border-radius: 0;
border-bottom: 1px solid #FF3333;
min-width: 230px;
}
.main form .btn{
    display: flex;
    flex-direction: column;
    width: 30%;
    align-items: center;
    margin: 0 auto 20px auto;
}
.main form .btn button{
    background: #FF3333;
    color: white;
    border: none;
    max-width: 90px;
    padding: 4px 10px;
    margin-bottom: 20px;
}
.main form .btn button:hover{
    border: 1px solid #FF3333;
    color: #FF3333;
    background: none;
    cursor: pointer;
}
.main form .btn .check{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.main form .btn .check .container-check {
    display: flex;
}
.main form .btn .check .container-check input{
border: none;
width: 15px;
}
.main form .btn .check .container-check span{
    min-width: 250px;
}
.main form .check .container-check span a{
    margin-left: 3px;
    text-decoration: none;
    color: #1D84B5;
}
.main form .btn .check .container-check span a:hover{
    text-decoration: underline 1px solid #1D84B5;
}